<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Hola</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi libero esse nihil adipisci laudantium, voluptates id accusantium aperiam aut assumenda? Veritatis ad nulla, cum amet facilis asperiores dignissimos esse voluptatem!</p>
</body>
</html>